$white: #fff;
$bodyBg: hsl(226, 43%, 10%);
$cardBg: hsl(235, 46%, 20%);
$cardBgHover: hsl(235, 45%, 61%);
$cardText: hsl(236, 100%, 87%);

$cardMainBg: hsl(246, 80%, 60%);
$cardWork: hsl(15, 100%, 70%);
$cardPlay: hsl(195, 74%, 62%);
$cardStudy: hsl(348, 100%, 68%);
$cardExercise: hsl(145, 58%, 55%);
$cardSocial: hsl(264, 64%, 52%);
$cardSelf-care: hsl(43, 84%, 65%);
