@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
@import "normalize";
@import "colors";
@import "mixins";

/** ============== global style ================ */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* smooth scrolling */

html {
	scroll-behavior: smooth;
}

img {
	object-fit: cover;
	max-width: 100%;
}

/* remove 'X' from input box to clear the text*/

input::-ms-clear {
	display: none;
}

/* remove link underline */
a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

ol,
ul {
	list-style: none;
}

/* remove arrow from select dropdown list */
select {
	appearance: none;
	text-indent: 1px;
	text-overflow: "";
}

/* remove input number arrow if need */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

input[type="number"] {
	appearance: textfield;
}

button {
	outline: none;
	border: none;
}

/* ======== custom preused classes ==========*/

/* hide scroll bar if needed */

.hide-scroll {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;

	&::-webkit-scrollbar {
		/* Firefox */
		display: none;
	}
}

/* disable mouse interact */
.disable-pointer {
	pointer-events: none;
}

/** ============ start  custom style ============ */
html {
	min-height: 100%;
}
body {
	font-family: "Rubik", sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: $white;
	background-color: $bodyBg;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.font__medium {
	font-weight: 400;
}
.font__bold {
	font-weight: 500;
}

.container {
	@include container(890px, 1.5%);
}

.day,
.month {
	display: none;
}

.main {
	&__inner,
	&__item-cards {
		display: flex;
		// flex-wrap: wrap;
		gap: 1rem;
		border-radius: 1rem;
	}

	&__item-card {
		flex: 0 1 206px;
	}
	&__item-cards {
		flex: 1 0 60%;
		flex-wrap: wrap;
		justify-content: center;
		div {
			flex: 1 0 30%;
		}
	}
}

.user-card {
	background-color: $cardBg;
	border-radius: 1rem;
	overflow: hidden;
	&__top {
		border-radius: 1rem;
		padding: 1.5rem 1.5rem 50% 1.5rem;
		background-color: $cardMainBg;

		p {
			font-size: 70%;
			color: $cardText;
			margin-bottom: 0.5rem;
		}
		h1 {
			margin: 0;
			font-size: inherit;
			font-weight: inherit;
			font-size: 180%;
		}
	}

	&__img {
		img {
			border-radius: 50%;
			border: 2px solid $white;
		}
		margin-bottom: 1.5rem;
	}
	&__nav {
		padding: 1.8rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		font-size: 80%;
		color: $cardText;
		&_item {
			cursor: pointer;
			transition: color 0.3s ease;
			&:hover {
				color: $white;
			}
			&.active {
				color: white;
			}
		}
	}
}
.cards {
	position: relative;

	&__inner {
		padding: 2rem;
		background-color: $cardBg;
		border-radius: 1rem;
		cursor: pointer;
		transition: 0.3s ease;
		overflow: hidden;
		&:hover {
			background-color: $cardBgHover;
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		h2 {
			font-size: 80%;
		}
		margin-bottom: 1rem;
	}
	&__current {
		font-size: 240%;
		margin-bottom: 0.7rem;
	}

	&__previous {
		font-size: 80%;
		color: $cardText;
	}

	&__container {
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
		border-bottom-right-radius: 2rem;
		border-bottom-left-radius: 2rem;
		display: flex;
		align-items: flex-end;
		background-position: 80% 0;
		background-repeat: no-repeat;
		padding-top: 3rem;
	}
}

.work {
	background-color: $cardWork;
	background-image: url(../images/icon-work.svg);
}
.play {
	background-color: $cardPlay;
	background-image: url(../images/icon-play.svg);
}
.study {
	background-color: $cardStudy;
	background-image: url(../images/icon-study.svg);
}
.exercise {
	background-color: $cardExercise;
	background-image: url(../images/icon-exercise.svg);
}
.social {
	background-color: $cardSocial;
	background-image: url(../images/icon-social.svg);
}
.self-care {
	background-color: $cardSelf-care;
	background-image: url(../images/icon-self-care.svg);
}

@media screen and (max-width: 900px) {
	.container {
		padding: 10vw 5vw;
	}

	.main {
		&__inner {
			flex-direction: column;
		}
	}

	.user-card {
		flex: 0 1 auto;
		&__top {
			padding: 1rem;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 1rem;
		}
		&__img {
			flex-shrink: 0;
			margin: 0;
		}
		&__text {
			h1 {
				font-size: 170%;
			}
		}

		&__nav {
			flex-direction: row;
			justify-content: space-around;
		}
	}

	.cards {
		&__container {
			min-width: 100%;
		}
		&__inner {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
		&__top {
			min-width: 100%;
		}
		&__current,
		&__previous {
			flex: 0 1 auto;
			margin: 0;
		}
		&__current {
			font-size: 150%;
		}
		&__previous {
			text-align: right;
		}
	}
}
